@model Domain.directory.Employee
@using mvc.ViewModel


<partial name="_AddHeading" />

<hr />
@{
    var hasPicture = (Model.EmployeePhoto?.Content != null);
    if (hasPicture)
    {
        @:<div>
        string imageBase64 = Convert.ToBase64String(Model.EmployeePhoto.Content);
        string imageSrc = string.Format("data:" + Model.EmployeePhoto.MimeType + ";base64,{0}", imageBase64);
        <img src="@imageSrc" alt="Profile Picture of @Model.Summary"
        title="Profile Picture of @Model.Summary class="img-fluid rounded" />
        @:</div>
    }
}
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="RowVersion" />
    <div>
        @{
            if (hasPicture)
            {
                <div class="row">
                    <div class="form-check m-3">
                        <input class="form-check-input" type="checkbox" id="removeImage" name="removeImage" />
                        <label class="form-check-label" for="removeImage">
                            <strong>Check to remove Image</strong>
                        </label>
                    </div>
                </div>
            }
        }
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountCreated" class="control-label"></label>
                <input asp-for="AccountCreated" class="form-control" />
                <span asp-validation-for="AccountCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Extension" class="control-label"></label>
                <input asp-for="Extension" class="form-control" />
                <span asp-validation-for="Extension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Current Documents</label>
                <div class="ml-md-3">
                    @{
                        int fileCount = Model.EmployeeDocuments.Count;
                        if(fileCount > 0)
                        {
                            var firstFile = Model.EmployeeDocuments.FirstOrDefault();
                            if(fileCount > 1)
                            {
                                <a class="" role="button" data-bs-toggle="collapse"
                                href="#collapseDocs@(Model.Id)" aria-expanded="false"
                                aria-controls="collapseDocs@(Model.Id)">
                                    <span class="badge bg-info">@fileCount</span> Current Documents...
                                </a>
                                <div class="collapse" id="collapseDocs@(Model.Id)">
                                    @{
                                        foreach(var doc in Model.EmployeeDocuments)
                                        {
                                            <a asp-action="Download" asp-route-id="@doc.Id">@doc.FileName</a> <br />
                                        }
                                    }
                                </div>
                            }
                            else
                            {
                                <a asp-action="Download" asp-route-id="@firstFile?.Id">@firstFile?.FileName</a>
                            }
                        }
                    }
                </div>
            </div>
            
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="HireDate" class="control-label"></label>
                <input asp-for="HireDate" class="form-control" />
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nickname" class="control-label"></label>
                <input asp-for="Nickname" class="form-control" />
                <span asp-validation-for="Nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeNumber" class="control-label"></label>
                <input asp-for="EmployeeNumber" class="form-control" />
                <span asp-validation-for="EmployeeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <select asp-for="JobTitleId" class="form-control" asp-items="ViewBag.JobTitleDropdown">
                    <option value=""></option>
                </select>
                <span asp-validation-for="JobTitleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentDropdown">
                    <option value=""></option>
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manager" class="control-label"></label>
                <select asp-for="ManagerId" class="form-control" asp-items="ViewBag.ManagerDropdown">
                    <option value=""></option>
                </select>
                <span asp-validation-for="ManagerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label control-file-label">Upload Additional Documents</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="employeeFiles" multiple="multiple" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label control-file-label">Upload Photo</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="employeePhoto" id="employeePhoto" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">

                <div class="form-group col-md-6">
                    <label class="control-label">Locations Selected</label>
                    <button type="button" id="btnRight" class="btn btn-danger">
                        <strong>-</strong>
                    </button>
                    @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.LocationListBoxSelectedOption, new { @size = 10, @class = "form-control" })
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label">Locations Available</label>
                    <button type="button" id="btnLeft" class="btn btn-success">
                        <strong>+</strong>
                    </button>
                    @Html.ListBox("availableOptions", (MultiSelectList)ViewBag.LocationListBoxAvailableOption, new { @size = 10, @class = "form-control" })
                </div>

                <span asp-validation-for="EmployeeLocations" class="text-danger"></span>

            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" id="btnSubmit" value="Save" class="btn btn-primary" />
    </div>
</form>

<partial name="_AddLinkBackToIndex" />


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/multiselect.js"></script>
}
