@model IEnumerable<Domain.directory.Employee>

<partial name="_AddHeading" />

<form asp-controller="Employee" asp-action="Index" method="get">
    @* hidden inputs to keep track of last sort direction & sort field *@
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />

    <div class="form-horizontal">
        <button class="btn @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter / Search @ViewData["numberFilters"]
        </button>
        <br />
        <div class="collapse @ViewData["showFilter"]" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Select By Location</label>
                        @* html tag helper > Tag helper works well with one object. Html helper for IEnumerable<Object> *@
                        @Html.DropDownList("JobTitleId", ViewBag.JobTitleDropdown, "All Job Titles", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Select By Department</label>
                        @Html.DropDownList("DepartmentId", ViewBag.DepartmentDropdown, "All Departments", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">Select By Department</label>
                        @Html.DropDownList("LocationId", ViewBag.LocationDropdown, "All Locations", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Select By Department</label>
                        @Html.DropDownList("ManagerId", ViewBag.ManagerDropdown, "All Managers", htmlAttributes: new { @class = "form-control" })
                    </div>
                    
                </div>
                <div class="row">
                    <div class="form-group col-md-8">
                        <label class="control-label">Search by Name or Number</label>
                        @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4 align-self-end">
                        <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="submit" name="actionButton" value="Employee" class="btn btn-link" />
                </th>
                <th class="d-none d-lg-table-cell">
                    <input type="submit" name="actionButton" value="Email" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Phone" class="btn btn-link" />
                </th>
                <th class="d-none d-xl-table-cell">
                    <input type="submit" name="actionButton" value="Job Title" class="btn btn-link" />
                </th>
                <th class="d-none d-sm-table-cell">
                    <input type="submit" name="actionButton" value="Department" class="btn btn-link" />
                </th>
                <th class="d-none d-lg-table-cell">
                    <input type="submit" name="" value="Location" class="btn btn-toolbar" />
                </th>
                <th class="d-none d-lg-table-cell">
                    <input type="submit" name="" value="Document" class="btn btn-toolbar" />
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Summary)
                    </td>
                    <td class="d-none d-lg-table-cell">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @{
                            if (item.PhoneFormatted != null && item.Extension != null)
                            {
                                <a href="#" data-bs-toggle="tooltip" title="@item.PhoneFormatted">@Html.DisplayFor(modelItem => item.Extension)</a>
                            }
                            else if (item.PhoneFormatted != null && item.Extension == null)
                            {
                                @Html.DisplayFor(modelItem => item.PhoneFormatted)
                            }
                            else if (item.PhoneFormatted == null && item.Extension != null)
                            {
                                @Html.DisplayFor(modelItem => item.Extension)
                            }
                            else
                            {
                                @:n/a
                            }
                        }
                    </td>
                    <td class="d-none d-xl-table-cell">
                        @Html.DisplayFor(modelItem => item.JobTitle.JobTitleName)
                    </td>
                    <td class="d-none d-sm-table-cell">
                        @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                    </td>
                    <td class="d-none d-lg-table-cell">
                        @{
                            var locCount = item.EmployeeLocations.Count;
                            if (locCount > 0)
                            {
                                var firstLocation = item.EmployeeLocations.FirstOrDefault().Location.Summary;
                                if (locCount > 1)
                                {
                                    var locStr = "";//Html string of specialty names separated by <br /> tags
                                    var locList = item.EmployeeLocations.ToList();

                                    for (var i = 1; i < locCount; i++)
                                    {
                                        locStr += locList[i].Location.Summary + "<br />";
                                    }
                                    <a class="" role="button" data-bs-toggle="collapse" href="#collapseLocation@(item.Id)" aria-expanded="false" aria-controls="collapseLocation@(item.Id)">
                                        @firstLocation <span class="badge bg-info">@locCount</span>
                                    </a>
                                    <div class="collapse" id="collapseLocation@(item.Id)">
                                        @Html.Raw(locStr)
                                    </div>
                                }
                                else
                                {
                                    @firstLocation
                                }
                            }
                        }
                    </td>
                    <td class="d-none d-lg-table-cell">
                        @{
                            int fileCount = item.EmployeeDocuments.Count;
                            if (fileCount > 0)
                            {
                                var firstFile = item.EmployeeDocuments.FirstOrDefault();
                                if (fileCount > 1)
                                {
                                    <a class="" role="button" data-bs-toggle="collapse"
                                       href="#collapseDocs@(item.Id)" aria-expanded="false"
                                       aria-controls="collapseDocs@(item.Id)">
                                        <span class="badge bg-info">@fileCount</span> Current Documents...
                                    </a>
                                    <div class="collapse" id="collapseDocs@(item.Id)">
                                        @{
                                            foreach (var doc in item.EmployeeDocuments)
                                            {
                                                <a asp-action="Download" asp-route-id="@doc.Id">@doc.FileName</a> <br />
                                            }
                                        }
                                    </div>
                                }
                                else
                                {
                                    <a asp-action="Download" asp-route-id="@firstFile?.Id">@firstFile?.FileName</a>
                                }
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingNavBar"/>
</form>
@section Scripts {
    <script src="~/js/tooltips.js"></script>
}
