@model Domain.directory.Fax

<partial name="_AddHeading" />
<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaxName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaxName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaxFormatted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaxFormatted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsForwarded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsForwarded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForwardTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForwardTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.Summary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <partial name="_AddLinkBackToIndex"/>
    </form>
</div>
