@model IEnumerable<Domain.directory.Fax>


<partial name="_AddHeading" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FaxName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaxFormatted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsForwarded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FaxName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FaxFormatted)
                </td>
                <td>
                    @{
                        if (item.IsForwarded)
                        {
                            <a href="#" data-bs-toggle="tooltip" title="@item.ForwardTo">Yes</a>
                        }
                        else
                        {
                            @:No
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.Summary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>
                @* <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td> *@
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(
            function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
}